@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    background-image: url(../img/background.png) !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 100vh;
}

a{
    margin: 0.5rem;
    text-decoration: none;
}

.navbar{
    background-color: transparent !important;
}

.btn-primary{
    background-color: transparent !important;
    border-color: transparent !important;
}

.btn-primary:active{
    background-color: transparent !important;
    border-color: transparent !important;
}

.btn-primary:focus{
    background-color: transparent !important;
    border-color: transparent !important;
    box-shadow: none !important;
}

.offcanvas-start{
    width: 220px !important;
    background-color: #015989 !important;
}

.listaElemento{
    list-style: none;
    border-style: solid;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-width: thin;
    border-top-width: thin;
    padding-bottom: 1.3rem;
    padding-top: 1.3rem;
    border-bottom-color: lightblue;
}

#listaLink{
    text-decoration: none !important;
    font-size: 0.9rem;
    color: black;
}

input{
    border-color: transparent;
    border-radius: 6px;
    block-size: 50px;
    color: darkgrey;
}

#colap{
    background-color: transparent !important;
}

#logo{
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}

#imglogo{
    width: 25%;
}
@media (min-width: 950px) {
    #imglogo{
        width: 10%;
        }
        
}

#usuarioID{
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    margin-top: 5rem;
}

#contraseñaID{
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    margin-top: -1.5rem;
}

#btnIniciarSes{
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}

#btnIS{
    background-color: #7B90A1;
    border-radius: 30px;
    width: 8rem;
    height: 3rem;
    color: aliceblue !important;
    border-style: none
}

#links{
    color: aliceblue !important;
    margin: 0.25rem;
    padding: 0.25rem;
    text-align: center;
    text-decoration: underline;
}

@media screen and (min-width: 700px) {
    .offcanvas-start{
        width: 400px !important;
    }

    #listaLink{
        font-size: 1.5rem;
    }

    .listaElemento{
        list-style: none;
        border-style: solid;
        border-right-color: transparent;
        border-left-color: transparent;
        border-top-color: transparent;
        border-bottom-width: thin;
        border-top-width: thin;
        padding-bottom: 1.6rem;
        padding-top: 1.6rem;
        border-bottom-color: lightblue;
    }
}
    